@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";
@import "../components/fullcalendar/fullcalendar.css";

body{
  background-color: #eee;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-inner {
  @include ctb-border-radius(0px);
}

.navbar .brand {
  color: #FDD;
  text-shadow: 0px 0px 10px #F00;
  &:hover {
    text-decoration: none;
    color: #FFF;
  }
}

.time {
  border: 1px solid #ccc;
  padding-top: 15px;
  padding-left: 15px;
  overflow: hidden;
  background-color: #ddd;
}

#map {
  height: 20em;
  width: 100%;
}

#map_canvas { 
  height: 20em; 
  width: 100%; 
}

.accordion-heading {
  @include ctb-gradient-vertical($navbarBackgroundHighlight, $navbarBackground);
  color: white;
}
.accordion-inner {
  background-color: #ddd;
}

.navbar .divider-vertical {
  margin-left: 0px;
  margin-right: 0px;
}