<div class="row-fluid">
  <div class="navbar navbar-fixed span12">
    <div class="navbar-inner">
        <a class="brand" href="#">RABE</a>
        <ul class="nav">
            
            <li><input type="text" class="search-query" ng-model="query" placeholder="Bitte einen Raum eingeben" ng-show="showSearch" style="margin-top:6px; margin-right: 10px"></li>
            <li class="divider-vertical"></li>
            <li ng-class="{active: showSearch}" ng-click="showSearch=!showSearch" data-toggle="collapse" data-target="#search"><a href=""><i class="icon-search icon-white"></i></a></li>
            <li class="divider-vertical"></li>
            <li ng-class="{active: showTime}" ng-click="showTime=!showTime" data-toggle="collapse" data-target="#time"><a href=""><i class="icon-time icon-white"></i></a></li>
            <li class="divider-vertical"></li>
            <li ng-class="{active: showMap}" ng-click="showMap=!showMap" data-toggle="collapse" data-target="#map"><a href=""><i class="icon-home icon-white"></i></a></li>
            <li class="divider-vertical"></li>
        </ul>
    </div>
  </div>
</div>


<div class="row-fluid">
  <!--/GoogleMaps -->
  <div id="map" class="collapse in">
    <div id="map_canvas">
      <p style="text-align: center">Deine Position wird ermittelt...</p>
    </div>
  </div>  
</div>

<div class="row-fluid">
  <!--/Time selection -->
  <div id="time" class="collapse in">
    <div class="time controls controls-row">
      <div class="span1"><i class="icon-time icon-large"></i></div>
      <div class="span3">
        <label class="span2" class="control-label" for="fromTime">von:</label>
        <input class="span8" id="fromTime" type="text" ng-model="fromTime" placeholder="08:00"/>
      </div>
      <div class="span3">
        <label class="span2" class="control-label" for="toTime">bis:</label>
        <input class="span8" id="toTime" type="text" ng-model="toTime" placeholder="08:00"/>
      </div>
    </div>
  </div>
</div>


<div class="row-fluid" style="margin-top: 10px">
  <div class="accordion" id="roomList">
    <div class="accordion-group" ng-repeat="room in rooms | filter:{name:query} | freeRoom:fromTime:toTime">
      <div class="accordion-heading">
        <div class="row-fluid" class="accordion-toggle" data-toggle="collapse" data-parent="#roomList" href="#collapse{{room.id}}">
          <div class="span1" style="text-align: center">
            <h6>{{room.name}}</h6>
          </div>
          <a class="pull-right" ng-click="chooseObject(room)" style="margin-top: 9px; margin-right: 20px"><i class="icon-chevron-down icon-white"></i></a>
          <a class="pull-right" ng-click="chooseObject(room)" style="margin-top: 9px; margin-right: 35px" data-toggle="modal" href="#roomInfo"><i class="icon-question-sign icon-white"></i></a>
        </div>
      </div>
      <div id="collapse{{room.id}}" class="accordion-body collapse out">
        <div class="accordion-inner">
           <ul>
            <li ng-repeat="event in room.events[0]">{{event.title}} von: {{event.start}} bis: {{event.end}}</li>
          </ul>
          <div ui-calendar="{editable: false,firstDay:1,
            defaultView:'agendaDay',
            eventColor:'#9E9E9E',
            eventBackgroundColor:'#3B3B3B',
            allDaySlot:false,   
            weekends:false,
            contentHeight:999,
            header: {
              left: 'title',
              center: '',
              right: 'today prev,next,agendaDay,agendaWeek'
            }
            }" class="span12" style="padding:0px; margin:0px;" ng-model="room.events"></div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal PopUpWindow-->
<div id="roomInfo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Raum Informationen</h3>
  </div>
  <div class="modal-body">
    <table class="table table-hover">
      <tr>
        <td>
         <strong>Raum:</strong>
        </td>
        <td>
          {{choice.name}}
        </td>
      </tr>

      <tr>
        <td>
          <strong>Einrichtung:</strong>
        </td>
        <td>
          {{choice.equipment}}
        </td>
      </tr>

      <tr>
         <td>
          <strong>Plätze:</strong>
        </td>
        <td>
          {{choice.seats}}
        </td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>